<div class="container-fluid" id="sect1">
    <div class="row">
        <div class="col-md-12">
            <h1 *ngIf="!jwt" style="color: #55daff ; text-align: center;"> Please Login to Continue</h1>
            <h1 *ngIf="jwt" style="color: #09b6e6 ; text-align: center;"> Welcome to</h1>
        </div>

        <div id="sect2">
            <img class="mx-auto d-block" src="../../../assets/logo3.png" alt="Logo"  width="600" height="400" >
        </div>
    </div>
</div>

<!-- #8fd7ea rgba(143,215,234,255) 

#55daff rgba(85,218,255,255)-->