<form class="border p-3 rounded-3 shadow shadow-lg p-5" [formGroup]="editLoanForm" (ngSubmit)="editLoanSubmitted()">
    <div class="row g-0">
      <diV class="col text-center fw-bold p-2 mb-3">
        <span class="fs-3">Edit Loan</span>
      </diV>
    </div>
  
    <div class="row">
      <div class="col mb-3 fw-bold">
        <label for="firstname" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstname" formControlName="firstname" >
         <div class="form-text text-danger text-center" *ngIf="fName.errors?.['required'] && (fName.touched||fName.dirty)">
          First Name is required.
         </div>
      </div>
  
      <div class="col mb-3 fw-bold">
        <label for="lastname" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastname" formControlName="lastname" [readonly]="true">
        <div class="form-text text-danger text-center" *ngIf="lName.errors?.['required'] && (lName.touched||lName.dirty)">
          Last Name is required.
         </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col mb-3 fw-bold">
        <label for="address" class="form-label">Property Address</label>
        <input type="text" class="form-control" id="address" formControlName="address" [readonly]="true">
        <div class="form-text text-danger text-center" *ngIf="pAddress.errors?.['required'] && (pAddress.touched||pAddress.dirty)">
          Address is required.
         </div>
      </div>
    </div>
  
  
    <div class="row">
      <div class="col mb-3 fw-bold">
        <label for="lnum" class="form-label">Loan Number</label>
        <input type="text" class="form-control" id="lnum" formControlName="lnum" [readonly]="true">
        <div class="form-text text-danger text-center" *ngIf="lNum.errors?.['required'] && (lNum.touched||lNum.dirty)">
          Loan Number is required.
         </div>
      </div>
  
      <div class="col mb-3 fw-bold">
        <label for="amount" class="form-label">Loan Amount</label>
        <input type="text" class="form-control" id="amount" formControlName="amount" >
        <div class="form-text text-danger text-center" *ngIf="lAmount.errors?.['required'] && (lAmount.touched||lAmount.dirty)">
          Loan Amount is required.
         </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col mb-3 fw-bold">
        <label for="ltype" class="form-label">Loan Type</label>
        <!-- <input type="text" class="form-control" id="ltype" formControlName="ltype" > -->
        <select formControlName="ltype" class="form-control" name="Select any one" >
          <!-- <option name="Select any one" >Select any one</option> -->
          <option value="Home">Home</option>
          <option value="Study">Study</option>
          <option value="Vehicle">Vehicle</option>
        </select>
        <div class="form-text text-danger text-center" *ngIf="lType.errors?.['required'] && (lType.touched||lType.dirty)">
          Loan Type is required.
         </div>
      </div>
  
      <div class="col mb-3 fw-bold ">
        <label for="lterm" class="form-label">Loan Term</label>
        <input type="text" class="form-control" id="lterm" formControlName="lterm" >
        <div class="form-text text-danger text-center" *ngIf="lTerm.errors?.['required'] && (lTerm.touched||lTerm.dirty)">
          Loan Term is required.
         </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-6 offset-3">
        <div class="d-grid text-center">
          <button type="submit" class="btn btn-outline-primary mt-3"> Update </button>
        </div>
      </div>
      
    </div>
    
  </form>
